@model PO_Messenger.Models.Message

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckHistory</title>
</head>
<body>
    <div> 
        @ViewBag.FileData
    </div>
</body>
</html>
