
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageSent</title>
</head>
<body>
    <div>
        <h2>Congratulation @Session["userName"] message sent</h2>
        @Html.ActionLink("Powrot", "UserMain")

    </div>
</body>
</html>
