<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/StyleSheetPO.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container">
        <div id="header">
            TO JEST HEADERR
        </div>
        @RenderBody()
        <div id="footer">
            TO JEST FOOTER
        </div>
    </div>
</body>
</html>
