@model PO_Messenger.Models.Users

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserAdded</title>

</head>
<body>
    <div>
        <h3> User @Model.Name added congratulation </h3>
    </div>
</body>
</html>
